## Evaluation

### 1 ) LE KPI
Le KPI correspond au Key Performing Indicator (Indicateur Clé de Performance en français).
C'est un élément chiffré qui permet d'expertisé une action afin d'évaluer les retombés par la suite.
Elle permet notamment de déterminer le retour sur investissement d'un projet.

### 2) Importer pandas et numpy

In [1]:
import numpy as np
import pandas as pd

### 3) Importer le dataset

In [5]:
resto=pd.read_csv('c:/temp/data/resto_eval.csv')

### 4) Afficher les 12 premières lignes

In [6]:
resto.head(12)

,Unnamed: 0,order_id,quantity,item_name,choice_description,item_price
0,0,1,1,Chips and Fresh Tomato Salsa,NaN,NaN
1,1,1,1,Izze,[Clementine],$3.39
2,2,1,1,Nantucket Nectar,[Apple],$3.39
3,3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,NaN
4,4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,6,3,1,Side of Chips,NaN,$1.69
7,7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25
10,10,5,1,Chips and Guacamole,NaN,$4.45
11,11,6,1,Chicken Crispy Tacos,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",$8.75

### 5) Afficher les 12 premières lignes

In [8]:
resto.shape

(4622, 6)

### 6) Afficher, et décrire les colonnes

In [9]:
resto.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 6 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Unnamed: 0          4622 non-null   int64
 1   order_id            4622 non-null   int64
 2   quantity            4622 non-null   int64
 3   item_name           4622 non-null   object
 4   choice_description  3376 non-null   object
 5   item_price          4522 non-null   object
dtypes: int64(3), object(3)
memory usage: 216.8+ KB

### 7) Afficher les statistiques descriptives

In [10]:
resto.describe()

        Unnamed: 0     order_id     quantity
count  4622.000000  4622.000000  4622.000000
mean   2310.500000   927.254868     1.075725
std    1334.400802   528.890796     0.410186
min       0.000000     1.000000     1.000000
25%    1155.250000   477.250000     1.000000
50%    2310.500000   926.000000     1.000000
75%    3465.750000  1393.000000     1.000000
max    4621.000000  1834.000000    15.000000

### 8) Item le plus commandé

In [27]:
resto['item_name'].value_counts('quantity')
## L'item le plus commandé est le Chicken Bowl.

Chicken Bowl                             0.157075
Chicken Burrito                          0.119645
Chips and Guacamole                      0.103635
Steak Burrito                            0.079619
Canned Soft Drink                        0.065123
Steak Bowl                               0.045651
Chips                                    0.045651
Bottled Water                            0.035050
Chicken Soft Tacos                       0.024881
Chicken Salad Bowl                       0.023799
Chips and Fresh Tomato Salsa             0.023799
Canned Soda                              0.022501
Side of Chips                            0.021852
Veggie Burrito                           0.020554
Barbacoa Burrito                         0.019688
Veggie Bowl                              0.018390
Carnitas Bowl                            0.014712
Barbacoa Bowl                            0.014280
Carnitas Burrito                         0.012765
Steak Soft Tacos                         0.011900
6 Pack Soft Drink                        0.011683
Chips and Tomatillo Red Chili Salsa      0.010385
Chicken Crispy Tacos                     0.010169
Chips and Tomatillo Green Chili Salsa    0.009303
Carnitas Soft Tacos                      0.008654
Steak Crispy Tacos                       0.007572
Chips and Tomatillo-Green Chili Salsa    0.006707
Steak Salad Bowl                         0.006274
Nantucket Nectar                         0.005842
Barbacoa Soft Tacos                      0.005409
Chips and Roasted Chili Corn Salsa       0.004760
Izze                                     0.004327
Chips and Tomatillo-Red Chili Salsa      0.004327
Veggie Salad Bowl                        0.003894
Chips and Roasted Chili-Corn Salsa       0.003894
Barbacoa Crispy Tacos                    0.002380
Barbacoa Salad Bowl                      0.002164
Chicken Salad                            0.001947
Carnitas Crispy Tacos                    0.001514
Veggie Soft Tacos                        0.001514
Carnitas Salad Bowl                      0.001298
Veggie Salad                             0.001298
Burrito                                  0.001298
Steak Salad                              0.000865
Bowl                                     0.000433
Crispy Tacos                             0.000433
Salad                                    0.000433
Veggie Crispy Tacos                      0.000216
Carnitas Salad                           0.000216
Chips and Mild Fresh Tomato Salsa        0.000216
Name: item_name, dtype: float64

### 9) Combien d'items ont été commandés au total

In [28]:
resto['quantity'].sum()
## Le nombres d'items commandés au total est de 4972 items.

4972

### 10) Combien de chiffre d'affaire à réalisé à la société

In [38]:
resto['Value'] = resto.item_price*resto.quantity
print(resto['Value'].dropna())

1               $3.39
2               $3.39
4       $16.98 $16.98
5              $10.98
6               $1.69
             ...
4617           $11.75
4618           $11.75
4619           $11.25
4620            $8.75
4621            $8.75
Name: Value, Length: 4522, dtype: object

### 11) Revenu moyen

In [41]:
a = resto.groupby(resto['order_id'])

<pandas.core.groupby.generic.DataFrameGroupBy object at 0x000001EBFC52FA08>